<div id="page-container">
  <app-header></app-header>
  <div class="text-block">
    <div class="text">
      Register your store
    </div>
  </div>
  <div class="store-info">
    <div class="col-xs-12 col-sm-6">
      <div class="user-blocks">
        <input type="text" placeholder="Store name" name="store" required><br>
        <input type="text" placeholder="Max. number of people" name="city" required><br>
        <input type="text" placeholder="City" name="city" required><br>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="address-blocks">
      <input type="text" placeholder="Address" name="address" required><br>
      <input type="text" placeholder="Number" name="address" required><br>
      <input type="text" placeholder="Zip code" name="zipcode" required><br>

      </div>
    </div>
  </div>
  <div class="register-btn">
    <button type="submit" routerLink="/stores" class="submit">Register</button>
  </div>
  <app-footer></app-footer>
</div>
