<div id="footer">
  <div [ngClass]="invertedView ? 'ibm-bar-invert' : 'ibm-bar'">
    <div [ngClass]="invertedView ? 'ibm-text-invert' : 'ibm-text'">By</div>
    <img [ngStyle]="{'filter': invertedView  ? 'invert(1)' : ''}"
         class="ibm-logo"
         src="../../../assets/images/ibm-logo-white.png"/>
  </div>
  <div class="government"
       [ngClass]="invertedView ? 'government-invert' : ''">
    <a href="https://www.rivm.nl/"
       class="link-rivm"
       [ngClass]="invertedView ? 'link-rivm-invert' : ''">My Government Rules</a>
  </div>

  <div class="bottom-bar"
       [ngClass]="invertedView ? 'bottom-bar-invert' : ''"></div>
</div>
