#page-container {
  position: relative;
  background-color: #233051;
  min-height: calc(100vh - 100px);
}

.main {
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}

.dashboard-text {
  margin-top: 100px;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
}

.find-text {
  font-size: 16px;
  font-weight: 200;
  margin-top: 40px;
}


@media (max-width: 400px) {
  .dashboard-text {
    font-size: 22px;
    margin-top: 90px;
  }
}
