<div id="page-container">
  <app-header></app-header>
  <div class="container">
    <div class="text-block">
      <div class="text">
        My stores
      </div>
    </div>
    <div class="row result-list">
      <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
        <div class="result">
          <div class="store-name" routerLink="/counter">JUMBO Oosterstraat</div>
          <div class="current-number"><b>0</b> | 64</div>
        </div>
        <div class="result">
          <div class="store-name">JUMBO Ebbingestraat</div>
          <div class="current-number"><b>0</b> | 60</div>
        </div>
      </div>
    </div>
    <div class="register-btn">
      <button type="submit" routerLink="/register">Register new store</button>
    </div>
  </div>
  <app-footer></app-footer>
</div>
